body{
	background:#01FF70;
	font-size: 18px;
}

.personal_info{
	text-align: center;
}

h1{
	color: red;
	text-align: center;
}

.main_features{
	color: blue;
	font-size: 22px;
}

a{
	color: #0079D9;
}

.mood{
	text-align: center;
}

.center{
	text-align: center;
}

ul, ol{
	width: 16%;
	margin: 0 auto;
}